.share-page-container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  min-height: ~"calc(100vh - 146px - 190px)";
  @media screen and (min-width: 992px) {
    min-height: ~"calc(100vh - 65px - 190px)";
  }
  .share-page-content-container {
    margin: auto;
    .share-page-content {
      margin: 76px 0;
      text-align: center;
    }
  }
}
