header {
  text-align: center;
  h1, p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    max-width: 1050px;
    padding: 0 25px;
  }
  .italic {
    font-style: italic;
  }
  .bold {
    font-weight: bold;
  }
  .blue-highlight {
    background: #42FEFD;
    box-decoration-break: clone;
    padding: 0.15rem;
  }
  .shadow {
    box-shadow: 10px 10px #42FEFD;
  }
}
