.header {
  height: ~"calc(100vh - 65px)";
  .header-content {
    height: 100%;
    text-align: center;
    display: inline-flex;
    .header-content-container {
      margin: auto;
    }
  }
  .header-image {
    display: inline-block;
  }
  .header-content,
  .header-image {
    width: 50%;
  }
  border-bottom: solid 1px #CFCFCF;
}
